@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Monument";
  src: url('../public/fonts/MonumentExtended-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Monument";
  src: url('../public/fonts/MonumentExtended-Ultrabold.otf');
  font-weight: bold;
  font-style: normal;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,
body {
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  font-family: 'Monument', sans-serif;
  color: rgb(var(--foreground-rgb));
  background-image: url('../public/bg.jpg');
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.3);
}

h1,
h2,
h3,
h4 {
  font-family: 'Monument', sans-serif;
  font-weight: bold;
}

span,
p {
  font-family: 'Monument', sans-serif;
  font-weight: normal;
}

.Monument {
  font-family: 'Monument', sans-serif;
}

#moviecard {
  background-color: rgb(154, 82, 221, 0.6);
  background-image:
    radial-gradient(at 100% 100%, rgb(255, 0, 204) 0px, transparent 50%);
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.3);
}

#moviecard:hover {
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.1);
}